.text-block {
  justify-content: center;
  align-items: center;
}

.text-block-container {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
}

.text-block__text-wrapper {
  width: 50%;
  margin: 0;

  img {
    margin: 0;
    object-fit: contain;
    height: 100%;
  }

  h2 {
    margin: 0 2rem 2rem 0;
  }

  &__paragraph {
    word-wrap: break-word;
    margin-right: 2rem;
  }
}

.text-block__button {
  width: 30%;
  margin: 1rem 0;
  padding: 12px 40px 14px;
  color: white;
  background-color: #000;
}
